Node-RED Flow Data Collection.txt
[{"id":"b5cd7087.1a96f","type":"serial in","z":"f0d29ec2.399ee8","name":"telosB","serial":"f66553ac.3a5418","x":89,"y":194,"wires":[["f0c94e86.f48c6","3250711c.312ff6"]]},{"id":"c1d7de57.5b8fc","type":"debug","z":"f0d29ec2.399ee8","name":"","active":true,"console":"false","complete":"payload","x":920,"y":202,"wires":[]},{"id":"f0c94e86.f48c6","type":"function","z":"f0d29ec2.399ee8","name":"thingspeak function","func":"var input = msg.payload;\nvar words = input.split(\";\");\nvar dataM = [];\n\nfor (var i in words){\n    dataM[i] = words[i];\n}\n\n\nvar data;\nvar field;\n\nif (dataM[0] == \"Temp\"){\n    data = dataM[1];\n    field = \"field1\";\n} else if (dataM[0] == \"Hum\"){\n    data = dataM[1];\n    field = \"field2\";\n} else if (dataM[0] == \"Light\"){\n    data = dataM[1];\n    field = \"field3\";\n}\nmsg.payload = dataM[0]+ \";\" +dataM[1]+ \";\" + new Date() +\";\";\n//msg.payload = dataM[1];\n\nvar API_KEY = \"381H88P9A9WOVS99\";\nmsg.url = \"https://api.thingspeak.com/update?api_key=\" + API_KEY + \"&\"+field+\"=\" + data;\n\nmsg.log = \"Send \"+dataM[0]+\" data (\"+data+\") to thingspeak and save data in csv file.\";\nreturn msg;","outputs":1,"noerr":0,"x":338,"y":287,"wires":[["bc7a3ed0.797558","ed40fd34.31a318","2a796ff3.4873b8"]]},{"id":"ed40fd34.31a318","type":"http request","z":"f0d29ec2.399ee8","name":"","method":"GET","ret":"txt","url":"","tls":"","x":646,"y":203,"wires":[["c1d7de57.5b8fc"]]},{"id":"bc7a3ed0.797558","type":"file","z":"f0d29ec2.399ee8","name":"","filename":"data2.csv","appendNewline":true,"createDir":false,"overwriteFile":"false","x":640,"y":276,"wires":[]},{"id":"3250711c.312ff6","type":"function","z":"f0d29ec2.399ee8","name":"freeboard function","func":"var input = msg.payload;\nvar words = input.split(\";\");\nvar dataM = [];\n\nfor (var i in words){\n    dataM[i] = words[i];\n}\n\nvar dataTemp;\nvar dataHum;\nvar dataLum;\nvar d;\n\nif (dataM[0] == \"Temp\"){\n    dataTemp = dataM[1];\n    d = dataM[1];\n} \n\nif(dataM[0] == \"Hum\"){\n    dataHum = dataM[1];\n    d = dataM[1];\n}\n\nif (dataM[0] == \"Light\"){\n    dataLum = dataM[1];\n    d = dataM[1];\n}\nmsg.payload = {temp : dataTemp, hum : dataHum, lum : dataLum};\nmsg.log = \"Send \"+dataM[0]+\" data (\"+d+\") to Freeboard.\";\nreturn msg;","outputs":1,"noerr":0,"x":332.5,"y":108,"wires":[["8e39a45.6f26b58","8f44387a.78fdd8"]]},{"id":"8e39a45.6f26b58","type":"dweetio out","z":"f0d29ec2.399ee8","thing":"IoTProject3_AW","name":"","x":638.5,"y":48,"wires":[]},{"id":"7bc4102a.244a4","type":"dweetio in","z":"f0d29ec2.399ee8","thing":"IoTProject3_AW","name":"","x":91.5,"y":412,"wires":[["af699b1f.54bde"]]},{"id":"af699b1f.54bde","type":"debug","z":"f0d29ec2.399ee8","name":"","active":true,"console":"false","complete":"payload","x":366,"y":413,"wires":[]},{"id":"2a796ff3.4873b8","type":"debug","z":"f0d29ec2.399ee8","name":"","active":true,"console":"true","complete":"log","x":640,"y":346,"wires":[]},{"id":"8f44387a.78fdd8","type":"debug","z":"f0d29ec2.399ee8","name":"","active":true,"console":"true","complete":"log","x":640,"y":104,"wires":[]},{"id":"f66553ac.3a5418","type":"serial-port","z":"f0d29ec2.399ee8","serialport":"/dev/ttyUSB0","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":false}]