Node-RED Flow Data Analysis.txt
[{"id":"3405879d.26258","type":"inject","z":"c5d6aaec.496e98","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":96,"y":63,"wires":[["c9743ec2.07619"]]},{"id":"382d4653.19a3ca","type":"csv","z":"c5d6aaec.496e98","name":"CSV parser","sep":";","hdrin":false,"hdrout":false,"multi":"mult","ret":"\\n","temp":"label, value, time","x":114,"y":244,"wires":[["11d0ca44.313aee"]]},{"id":"c9743ec2.07619","type":"file in","z":"c5d6aaec.496e98","name":"File Reader","filename":"/home/user/Desktop/DataD1.csv","format":"utf8","x":114,"y":159,"wires":[["382d4653.19a3ca"]]},{"id":"4dc42c08.fc66ec","type":"debug","z":"c5d6aaec.496e98","name":"","active":true,"console":"true","complete":"payload","x":584,"y":242,"wires":[]},{"id":"11d0ca44.313aee","type":"function","z":"c5d6aaec.496e98","name":"Average Data","func":"var input = msg.payload;\nvar output = {};\n\nvar dateI = {};\nvar date;\n\nvar sT = 0, sH= 0, sL = 0;\n\nvar iT = 0, iH = 0, iL = 0;\n\nvar minT = 9999999;\nvar minH = 9999999;\nvar minL = 9999999;\nvar maxT = 0;\nvar maxH = 0;\nvar maxL = 0;\n\nvar timeStr = input[0].time.split(\" \");\ndateI[0] = timeStr[2]+timeStr[1]+timeStr[3];\ndate = dateI[0];\n\nif(input[0].label == \"Temp\"){\n\tsT = sT + input[0].value;\t\n\tif (minT > input[0].value){\n\t\tminT = input[0].value;\n\t}\n\tif (maxT < input[0].value){\n\t\tmaxT = input[0].value;\n\t}\t\n\tiT++;\t        \n}else if(input[0].label == \"Hum\"){\n\tsH = sH + input[0].value;\n\tif (minH > input[0].value){\n\t\tminH = input[0].value;\n\t}\n\tif (maxH < input[0].value){\n\t\tmaxH = input[0].value;\n\t}\n\tiH++;\t        \n}else if(input[0].label == \"Light\"){\n\tsL = sL + input[0].value;\n\tif (minL > input[0].value){\n\t\tminL = input[0].value;\n\t}\n\tif (maxL < input[0].value){\n\t\tmaxL = input[0].value;\n\t}\n\tiL++;\n}\noutput[date] = {minTemp : minT,\n\t\t\t\tmaxTemp : maxT,\n\t\t\t\tavgTemp : Math.round(sT/iT*100)/100,\n\t\t\t\tminHum : minH,\n\t\t\t\tmaxHum : maxH,\n\t\t\t\tavgHum : Math.round(sH/iH*100)/100,\n\t\t\t\tminLum : minL,\n\t\t\t\tmaxLum : maxL,\n\t            avgLum : Math.round(sL/iL*100)/100\n\t            };\n//welldone\n\n\nfor(var i=1; i<input.length; i++){\n    timeStr = input[i].time.split(\" \");\n\tdateI[i] = timeStr[2]+timeStr[1]+timeStr[3];\n\tdate = dateI[i];\n\t\n\tif (dateI[i] == dateI[i-1]){\n\t\tif(input[i].label == \"Temp\"){\n\t\t\tsT = sT + input[i].value;\n\t\t\tif (minT > input[i].value){\n\t\t\t\tminT = input[i].value;\n\t\t\t}\n\t\t\tif (maxT < input[i].value){\n\t\t\t\tmaxT = input[i].value;\n\t\t\t}\t\n\t\t\tiT++;\t        \n\t\t}else if(input[i].label == \"Hum\"){\n\t\t\tsH = sH + input[i].value;\n\t\t\tif (minH > input[i].value){\n\t\t\t\tminH = input[i].value;\n\t\t\t}\n\t\t\tif (maxH < input[i].value){\n\t\t\t\tmaxH = input[i].value;\n\t\t\t}\n\t\t\tiH++;\t        \n\t\t}else if(input[i].label == \"Light\"){\n\t\t\tsL = sL + input[i].value;\n\t\t\tif (minL > input[i].value){\n\t\t\t\tminL = input[i].value;\n\t\t\t}\n\t\t\tif (maxL < input[i].value){\n\t\t\t\tmaxL = input[i].value;\n\t\t\t}\n\t\t\tiL++;\n\t\t}\n\t\t\n\t\toutput[date] = {\n\t\t\t\tminTemp : minT,\n\t\t\t\tmaxTemp : maxT,\n\t\t\t\tavgTemp : Math.round(sT/iT*100)/100,\n\t\t\t\tminHum : minH,\n\t\t\t\tmaxHum : maxH,\n\t\t\t\tavgHum : Math.round(sH/iH*100)/100,\n\t\t\t\tminLum : minL,\n\t\t\t\tmaxLum : maxL,\n\t            avgLum : Math.round(sL/iL*100)/100\n\t            };\n\t}else{\n\t\tsT = 0, sH= 0, sL = 0;\n\t\tiT = 0, iH = 0, iL = 0;\n\t    minT = 9999999;\n\t\tminH = 9999999;\n\t\tminL = 9999999;\n\t\tmaxT = 0;\n\t\tmaxH = 0;\n\t\tmaxL = 0;\n\t\t\n\t\tif(input[i].label == \"Temp\"){\n\t\t\tsT = sT + input[i].value;\n\t\t\tif (minT > input[i].value){\n\t\t\t\tminT = input[i].value;\n\t\t\t}\n\t\t\tif (maxT < input[i].value){\n\t\t\t\tmaxT = input[i].value;\n\t\t\t}\t\n\t\t\tiT++;\t        \n\t\t}else if(input[i].label == \"Hum\"){\n\t\t\tsH = sH + input[i].value;\n\t\t\tif (minH > input[i].value){\n\t\t\t\tminH = input[i].value;\n\t\t\t}\n\t\t\tif (maxH < input[i].value){\n\t\t\t\tmaxH = input[i].value;\n\t\t\t}\n\t\t\tiH++;\t        \n\t\t}else if(input[i].label == \"Light\"){\n\t\t\tsL = sL + input[i].value;\n\t\t\tif (minL > input[i].value){\n\t\t\t\tminL = input[i].value;\n\t\t\t}\n\t\t\tif (maxL < input[i].value){\n\t\t\t\tmaxL = input[i].value;\n\t\t\t}\n\t\t\tiL++;\n\t\t}\n\t\t\n\t\toutput[date] = {\n\t\t\t\tminTemp : minT,\n\t\t\t\tmaxTemp : maxT,\n\t\t\t\tavgTemp : Math.round(sT/iT*100)/100,\n\t\t\t\tminHum : minH,\n\t\t\t\tmaxHum : maxH,\n\t\t\t\tavgHum : Math.round(sH/iH*100)/100,\n\t\t\t\tminLum : minL,\n\t\t\t\tmaxLum : maxL,\n\t\t\t\tavgLum : Math.round(sL/iL*100)/100\n\t            };\n\t}\n}\n\nmsg.payload = output;\nreturn msg;","outputs":1,"noerr":0,"x":357,"y":243,"wires":[["4dc42c08.fc66ec","4687e149.b36ae8"]]},{"id":"4687e149.b36ae8","type":"function","z":"c5d6aaec.496e98","name":"Email Report","func":"msg.topic = \"Daily Average\";\nmsg.description = msg.payload;\nmsg.to = \"wangeffort1@gmail.com\";\nmsg.log = \"Send report to email : wangeffort1@gmail.com\";\nreturn msg;","outputs":1,"noerr":0,"x":581.5,"y":152,"wires":[["57cc45d2.ec562c","d9d8d358.f7e138"]]},{"id":"57cc45d2.ec562c","type":"e-mail","z":"c5d6aaec.496e98","server":"smtp.gmail.com","port":"465","name":"wangeffort1@gmail.com","dname":"","x":812,"y":152,"wires":[]},{"id":"d9d8d358.f7e138","type":"debug","z":"c5d6aaec.496e98","name":"","active":true,"console":"true","complete":"log","x":768,"y":88,"wires":[]}]